<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
        var locations = new Array();
      function initMap() {
        var uluru = {lat: 22.7304794, lng: 75.8708128};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: uluru
        });
        var marker = new google.maps.Marker({
                position: uluru,
                map: map
            }
        );
        $.ajax({
            type: 'POST',
            url: '/api/map/route/',
            data: JSON.stringify(uluru), // or JSON.stringify ({name: 'jonas'}),
            success: function(data) {
                {#console.log(data['location']);#}
                var loc =  data['location']
                for(var i in loc){
                    locations.push(loc[i]);
                    var marker = new google.maps.Marker({
                    position: loc[i],
                    map: map
                    });
                }
                console.log(locations);
            },
            contentType: "application/json",
            dataType: 'json'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiixzz0CeP42DEUZOCY9abZVk8kbIB6Bo&callback=initMap">
    </script>
  </body>
</html>